<html>
    <body style="background-image: linear-gradient(red 33.33%, white 33.33%, white 66.66%, green 66.66%);background-size: 100% 100%;background-repeat: no-repeat;height: 100vh;width: 100vw;">
        <form action="/register-handler" method="post">
            Username: <input type="text" name="username" placeholder="Username" value="{{usr}}"> <br>
            Password: <input type="password" id="password" name="password" placeholder="Password" value="{{pswd}}">
            <p style="color: red;">{{error}}</p>
            <input type="submit" value="Register"> <input type="checkbox" id="visible" onclick="switchVisibility()">Show password
    
        <script>
            function switchVisibility() {
                console.log("Switiching vis..")
                var pswdInput = document.getElementById("password");
                if (pswdInput.type === "password") {
                    console.log("Visible");
                    pswdInput.type = "text";
                } else {
                    console.log("Invisible");
                    pswdInput.type = "password";
                }
            }
        </script>

    </body>
</html>
